#root,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
#header_img {
  width: 45px;
  height: 45px;
}

header {
  display: flex;
  margin: 0px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

header > div:first-child {
  width: 100px;
}

header > div {
  width: 100%;
}

header ul {
  display: flex;
}
/* .sub-header {
  width: 100%;
} */

/*요소에 대해서 왼쪽정렬 */
/* .sub_header > ul {
  justify-content: end;
}

.main-header > ul {
  justify-content: end;
} */

.header-ul {
  justify-content: end;
  /* justify-content: center; */
  list-style: none;
  gap: 7px;
}

header a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  font-size: 13px;
}

header a:hover {
  text-decoration: underline;
}

.main-header a {
  text-transform: uppercase;
}
